* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
main {
  flex: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.search {
  background-color: #f5f5f5;
  padding: 10px 5vw;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
.search_input {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.search_nut {
  padding: 10px;
  width: 40px;
  height: 50px;
  cursor: pointer;
  background-color: #34a4eb;
  border-radius: 3px;
  border: none;
  margin-left: 2px;
}
.search_nut:hover {
  background-color: #62bdf1;
}
.search_nut:active {
  transform: scale(0.98);
}
.search_nut img {
  object-fit: contain;
  width: 15px;
  height: 15px;
  filter: invert(1);
}
.gio_hang {
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
  border: none;
  background: none;
}
.gio_hang img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}
.gio_hang_sl {
  position: absolute;
  color: white;
  background-color: red;
  border-radius: 50%;
  top: 3px;
  right: -6px;
  width: 18px;
  text-align: center;
}
.text-head {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 100px;
  padding: 20px 5vw;
  flex-wrap: wrap;
}
.text-head a:not(.logo) {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}
.text-head a:hover:not(.logo) {
  color: #d1d1d1;
}
.duong_ke {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 0.5px solid #d1d1d1;
}
.logo {
  font-size: 40px;
  font-weight: bold;
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.phan_loai {
  display: flex;
  gap: 3vw;
  text-align: center;
  justify-content: center;
  padding: 2vh 3vw;
  flex-wrap: wrap;
}
.phan_loai a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
.phan_loai a:hover {
  color: #d1d1d1;
}
.font a {
  font-size: 24px;
  position: relative;
  top: 20px;
  left: 10vw;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.font a:hover {
  color: #d1d1d1;
}
.cloths {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 4vw 0;
  margin-left: 1.5vw;
  padding: 10px;
  gap: 7px;
}
.cloths img {
  width: 20vw;
  height: 20vw;
  padding: 2vh 1vw;
  object-fit: contain;
}

.cloths a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-size: 18px;
}

.cloths a p {
  width: 20vw;
}

.gia {
  text-align: center;
  color: red;
  padding-bottom: 2vh;
}
.ban_quyen {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
footer {
  padding: 1vw 2vw;
}
.ban_quyen img {
  width: 10vw;
  height: auto;
}
.ban_quyen p {
  position: relative;
  left: 45%;
  bottom: 2vw;
}
.san_pham h3 {
  padding: 1vh 0;
  position: relative;
  left: 10vw;
  font-size: 20px;
}
.san_pham hr {
  width: 80%;
  margin-left: 10vw;
  margin-right: auto;
  margin-top: 5vh;
  border: none;
  border-bottom: 1px #ccc solid;
}
.InGioHang {
  margin: 2vh 10vw;
}
.InGioHang ul {
  list-style-type: none;
}
.InGioHang li {
  display: flex;
  align-items: center;
  gap: 3vw;
  list-style-type: none;
  padding: 3vh 0;
  border-bottom: 1px solid #ddd;
}
.InGioHang li img {
  width: 20vw;
  border-radius: 5px;
}
.InGioHang strong {
  font-weight: bold;
  color: #333;
}
.InGioHang li strong {
  flex: 2;
}
.InGioHang button {
  margin-left: auto;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.chu_tren_sp {
  display: flex;
  margin-left: 5vw;
  margin-top: 5vh;
  font-weight: bold;
  font-size: 18px;
}
.InGioHang li p {
  position: relative;
  top: -1vh;
  flex: 1;
  left: -9vw;
}
.InGioHang li span {
  position: relative;
  right: 6vw;
}
.chu_tren_sp p {
  position: relative;
  top: -2vh;
  left: 19vw;
  padding: 0 5vw;
}
.InGioHang p {
  text-align: center;
  margin-top: 1vw;
}
.InGioHang button:hover {
  background-color: rgb(179, 34, 82);
}
.InGioHang button:active {
  transform: scale(0.98);
}
.thong_bao {
  position: fixed;
  top: 50%;
  left: 42%;
  background-color: #34a4eb;
  padding: 2vh 2vw;
  color: whitesmoke;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5 ease;
}
.thong_bao.hien {
  opacity: 1;
}
.Gio_hang_trong img {
  position: relative;
  left: 42%;
}
.nut_thanh_toan {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}
.nut_thanh_toan button {
  border-radius: 5px;
  border: none;
  background-color: #34a4eb;
  padding: 2vh 6vw;
}
.nut_thanh_toan button a {
  color: white;
  text-decoration: none;
}
.nut_thanh_toan button:hover {
  background-color: #62bdf1;
}
.nut_thanh_toan button:active {
  transform: scale(0.98);
}

/* css lọc theo giá */
.loc_gia {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
  position: relative;
  top: 10vh;
}
.loc_gia select {
  padding: 8px 12px;
  font-size: 15px;
  transition: all 0.3s ease;
  border: none;
  position: relative;
  top: 7vh;
  left: -5vw;
}
.loc_gia p {
  position: relative;
  top: 1.2vh;
}
.loc_gia select:hover {
  cursor: pointer;
}
/* tìm kiếm */
.product-item {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 2px solid #dee2e6;
  padding: 2px;
  transition: transform 0.3s ease;
}
.product-item:hover {
  transform: scale(1.02) translateY(-5px);
}
.tung_loai_sp {
  display: flex;
  margin-right: 10vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.tung_loai_sp_0 {
  font-size: 18px;
}
.tung_loai_sp_1 {
  display: flex;
  gap: 5vw;
  padding: 50px 0;
  font-weight: bold;
}
.tung_loai_sp_2 {
  display: flex;
  padding-top: 50px;
  padding-bottom: 20px;
  gap: 10vw;
}
.tung_loai_sp_2 a {
  color: #818181;
}
.tung_loai_sp_2 a:hover {
  color: #62bdf1;
}
.tung_loai_sp_nut {
  display: flex;
  flex-direction: column;
}
.tung_loai_sp_nut :nth-child(1) {
  border: none;
  background-color: black;
  padding: 15px 0;
  font-size: 16px;
  margin: 10px 0;
  color: white;
  cursor: pointer;
}
.tung_loai_sp_nut :nth-child(1):hover {
  background-color: #20c997;
}
.tung_loai_sp_nut :nth-child(1):active {
  transform: scale(0.98);
}
.tung_loai_sp_nut :nth-child(2) {
  border: none;
  background-color: #20c997;
  padding: 15px 0;
  font-size: 16px;
  margin: 10px 0;
  color: white;
  cursor: pointer;
}
.tung_loai_sp_nut :nth-child(2):hover {
  background-color: black;
}
.tung_loai_sp_nut :nth-child(2):active {
  transform: scale(0.98);
}
.chon_size {
  display: flex;
  margin-bottom: 20px;
}
.size {
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  transition: border 0.3s ease;
}
.size.active {
  border-color: black;
}
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-control-next-icon {
  filter: invert(1);
}
.text_duoi_carousel h2 {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
